
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all.2s linear;
}
body {
    background-color:#fff;
    padding-left: 40px;
    padding-top: 10px;
}
header{
    position: relative; 
    top:0; left: 0; right: 0;
    z-index: 1000;
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem ;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
     /* background: #fff;  
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1) ; */
    text-decoration: none;
    
}
header .nav-img img{
    position: absolute;
    margin-top: -25px;
    margin-left: 30px;
    height: 50px;
    width: 50px;

}
nav .navbar a{
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%; 
  text-decoration: none;
  padding-left: -130px;
  
}
header .navbar a{
    font-size: 15px;
    font-weight: 700;
    margin-left: 0 5rem;
    position: relative;
    padding-left: 15px; 
    color: #444243;
    text-decoration: none;

 } 
 header .main-btn a{
    font-size: 15px;
    font-weight: 700;
    margin-left: 0 5rem;
    color: #272727;
    padding-right: 40px;
    text-decoration: none;
 }
 .line{
    
    /* height: 3px;
    width: 40px; */
    /* background-color: #f748b3; */
      padding-top: 160px;  
    /* margin-left: 30px;
   margin-top: 50px; */
   transform:  translate(-50%, -50%);
 }
 .title{
    display: flex;
    margin-left: 125px;
    margin-top: 50px;
 }
 .title .line{
    position: relative;
    /* margin-top: 2px; */
    /* margin-bottom: 30px;
    padding-left: 20px; */
 }
 .main-btn button{
    display: inline-block;
    padding: 14px 34px;
    background:#f748b3 ;
    color: #fff; ;
    /* border: 2px solid ; */
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;  
 }
 .home {

  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/logo2.jpg) no-repeat; 
  background-position: center;
  /* background-size: cover; */
  width: 100%; 
  height:100vh ;
  padding-top: 2rem;
  padding-bottom: 10rem; 
  
 }
 .home .content {
    text-align: center;
    width: 100%;
    height: 100%; 
 }
 .home .content .title h3 {
    position: absolute;
    color: #464545;
    font-size: 4rem;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
   

}
.design{
    width: 650px;
    text-align: left;
}
.home .content .design h4 {
    color: #464545;
    font-size: 12px;
    /* padding-top: 10px; */
    margin-top: 150px;
    /* margin-bottom: 100px; */
     padding-right: 100px; 
     text-align: left;
     padding-left: 210px; 
    
}
.home .content .design p{
    color: #464545;
    font-size: 12px;
    line-height:1.8;
    margin-top: 5px;
    padding-right: 100px;
   
    padding-left: 210px;
}
.col{
    display: inline;
    text-align: left;
  
    width: 100%;
}

 .home .content .col .app a{
    color: #f748b3;
    font-size: 12px;
    
    
    /* margin-right: 50px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 50px; */

}
.home .content .col .apps a{
    color: #f748b3;
    font-size: 12px;
    /* margin-right: 60px;
    padding-left: 20px;
    padding-right: 50px; */

}
/* .lne{
    width: 3px;
    height: 2px;
    background-color: #f748b3;
    margin-top: 60px;
}   */
/* .small line{
    width: 30px;
    height: 10px;
    background-color: #464545;
} */

.Industries .heading{
font-size: 1.5rem;
font-weight: 600;
text-align: left;
margin-top: 50px;
margin-bottom: 50px;
padding-left: 50px;
padding-right: 10px;
}
.Industries p{
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: -50px;
    padding-right: 100px;
}
.Industries button{
    padding: 14px 34px; 
    float: right;
    background:#f748b3 ;
    color: #fff; ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    margin-right: 150px;     
}
.B2b .Marketplace{
    position: absolute;
   padding-left: 10px;
   padding-top: 90px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 30px;
}
.B2b .tong img { 
  background: #fff;
 
  padding-left: 10px;
  
}
.B2b .Marketplace .tong p{
     /* background: #fff;  */
    padding-bottom: 10px;
    font-size: 12px;
    padding-left: 30px;
    font-weight: 600;
    padding-top: 10px; 
}
.B2b .Marketplace .tong .anch{
    font-size: 12px;
    float: right;
    padding-right: 10px;
    text-decoration: none;
    color: #464545;

}
.B2b .Marketplace img{

    display: flex;
   flex-wrap: wrap;
    height: 20rem;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 20px; 
    object-fit: cover;
   
}
.B2b .b2b a {
font-size: 16px;
color: #f748b3;
font-weight: 600;
}
.B2b .b2b  h5 {
font-size: 16px;
font-weight: 600;
line-height: 1.2;
margin-top: 5px;

}
.B2b .b2b .offer{
    background: none;
    font-size: 12px;
    font-weight: 500;
    

}

.process .contain{
    position: relative;
     background: #fff;   
    top: 2000px;
    width: 100%;
    height: 100vh;

}
.process .contain .box .head{
     position: absolute;
     font-size: 1.5rem;
     font-weight: 600;
     text-align: left;
     margin-top: 50px;
      padding-bottom: 70px;
      padding-left: 50px; 
      z-index: 100;  
}
.process .contain .box p{
    position: relative;
    float: right;
    font-size: 12px;
    font-weight: 600;
    bottom: 0;
    padding-left: 20px;
    margin-top: 1.4rem;
    margin-left: 60rem;
    padding-right: 100px;   
}
.process .contain  button{
    position: absolute;
    padding: 14px 34px; 
    background:#f748b3 ;
    float: right;
    color: #fff; ;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 60rem;
    margin-top: 10rem;
}


.process .prototype {
    display: inline-flex;
     /* grid-template-columns: 80px 200px auto 40px;  */
    /* grid-template-columns: repeat( 3 ,1fr); */
    /* gap: 10rem;  */
    /* padding-top: 15rem; */
   padding-left: 30rem;
   margin-left: 50px;
   margin-top: 50px;
    
}

.process .contain .prototype .custom{
    position: relative;
    padding:0 1rem;
    padding-left: 20px;
    margin-top: 2rem;
    background: #fff;   
    margin-top: 10rem; 
    outline : 1px solid #c5c3c3bb;
    align-items: center;
    width: 300px;
    height: 350px;
    cursor: pointer;
}
.process .contain .prototype .custom:hover{
    border: 3px solid #f748b3;
    outline-offset: 0rem; 
    
}
/* .process .contain .prototypes .customs{
    position: relative;
    padding:0 1rem;
    padding-left: 20px;
    margin-top: 2rem;
    background: #fff;   
    margin-top: 10rem; 
    outline : 1px solid #c5c3c3bb;
    align-items: center;
    width: 300px;
    height: 350px;
    cursor: pointer;   
}
.process .contain .prototypes .customs:hover{
    border: 3px solid #f748b3;
    outline-offset: 0rem; 
    
} */
.process .contain .container .prototype{
    position: absolute;
    padding: 3rem;
    outline: #444243;
    outline-offset: -1rem;
}
.process .contain .prototype .custom h1{
font-size: 30px;
margin-top: 4rem; 
color: #f748b3;
font-weight: 500;
padding-left: 40px;
}
.process .contain .prototype .custom h3{
font-size: 20px;
color: #f748b3;
font-weight: 500;
padding-left: 40px
}
.process .contain .prototype .custom span{
    font-size: 10px;
    color: #b8b4b4;
    padding-left: 40px;
}
.process .contain .prototype .custom h4{
    font-size: 20px;
    color: #f748b3;
    font-weight: 600;
    padding-left: 40px;
}
.process .contain .prototype .custom p{
    font-size: 18px;
   color: #444243;
   font-weight: 500;
   padding-left: 40px;
}
.process .contain .prototype .custom  h5{
    font-size: 15px;
    color: #444243;
    font-weight: 600;
    padding-left: 40px;
}


